/* Estilos Generales para las Pestañas */

.tabs-container {
    margin: 20px auto;
    padding: 20px;
    width: 65%;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.tabs-header {
    display: flex;
    border-bottom: 2px solid #ddd;
    margin-bottom: 10px;
}

.tab-button {
    flex: 1;
    padding: 10px;
    text-align: center;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-bottom: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.tab-button.active {
    background-color: #fff;
    border-bottom: 2px solid #28a745;
    color: #28a745;
}

.tab-button:hover {
    background-color: #e9ecef;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.tab-button.active {
    font-weight: bold;
}

/* Estilos para Formularios Dentro de las Pestañas */
.tab-content form {
    margin: 20px 0;
}

.tab-content label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.tab-content input[type="text"],
.tab-content input[type="email"],
.tab-content input[type="number"],
.tab-content textarea {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.tab-content input[type="submit"] {
    background-color: #28a745;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.tab-content input[type="submit"]:hover {
    background-color: #218838;
}

/*Contenedor para alinear elementos*/

.button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0;
}

/* Estilo para el Botón Agregar Producto */

input[type="submit"] {
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

input[type="submit"]:active {
    background-color: #004085;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

input[type="submit"]:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

/* Estilo para el Botón Volver */

.btn-back {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.btn-back:hover {
    background-color: #0056b3;
}

.btn-back:active {
    background-color: #004085;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.btn-back:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.5);
}

/* Estilo para los elementos de seleccion*/

.select-container {
    margin-bottom: 15px;
}

.select-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

select {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    box-sizing: border-box;
    appearance: none;
    transition: border-color 0.3s ease;
}

select:focus {
    border-color: #28a745;
    outline: none;
}

select option {
    padding: 10px;
}

select::-ms-expand {
    display: none;
}


.select-wrapper {
    position: relative;
}

.select-wrapper::after {
    content: '▼';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    font-size: 18px;
    color: #333;
}